mixin hostInfo(info)
    br
    br
    .card__container_item
        .card_inner
            .card__container_item_description
                .card_title
                    h3
                        span="Host Information"
                .card_info
                    .card_info_item
                        p 
                            strong Name: 
                            span=info.host_name

                    .card_info_item
                        p 
                            strong Location: 
                            span=info.host_location
                            
                    .card_info_item
                        p 
                            strong About: 
                            span=info.host_about
                    
                    .card_info_item
                        p 
                            strong Response Rate: 
                            span=info.host_response_rate

                    .card_info_item
                        p 
                            strong Listings Count: 
                            span=info.host_listings_count
                    
                    .card_info_item
                        p 
                            strong Total Listings Count: 
                            span=info.host_total_listings_count


                    

                                      //- .product-detail-info
    //-     h2="Host Information"
    //- .product-detail-description
    //-     p
    //-         strong Name:
    //-         p=info.host_name
    //- .product-detail-description
    //-     br
    //- .product-detail-description
    //-     p
    //-         strong Location:
    //-     p=info.host_location

    //- .product-detail-description
    //-     br
    //- .product-detail-description
    //-     p
    //-         strong About:
    //-     p=info.host_about

    //- .product-detail-description
    //-     p
    //-         strong Response rate:
    //-     p=info.host_response_rate


                        