extends base

block content
  main.main-area
    .card__container

      each product in products
        .card__container_item
          .card_inner
            .card__container_item_img
              img(src=`${product.images.picture_url}`, alt=`${product.name}`)
            .card__container_item_description
              .card_title
                h3
                  span= product.name
              .card_info
                .card_info_item
                  p= product.description
              
              .card-footer
                .features
                  .stat
                    span.label Bedrooms
                    span.value= `${product.bedrooms}`
                  .stat
                    span.label Bath
                    span.value= `${product.bathrooms}`
                  .stat
                    span.label Price
                    span.value= `$${product.price}`
                .cart
                  .add-to-cart
                    a.btn1(href=`/product/${product.id}`)
                      span  
                        |  Details
